
body {
	/*background-color: #410403;*/
background-color: #2d0304;
color: white;
/*background-color: #7e0403;*/
}

input[type=text] {
    /*background-color: #e6953c;*/
     background-color: #e8aa81;
}

#image {
	background-image: url("../images/images.jpg");
	height: 300px;
	width: 575px;
	margin: auto;
	color: white;
	background-size: cover;
}

h1 {
	font-size: 600%;
}

.container{
	/*margin: 3%;*/
	padding: 5%;
	background-color: black;
	height:;
}

.add-user {
	background-color: #c83c07;
	margin: 1%;
}


.gamer {
	background-color: #c83c07;
	margin: 1%;
}

.choiceBtn {
	 /*display: inline-block;*/
	 background-color: #c83c07;
	margin: 2%;
	width: 75px;
}

#comment {
	text-align: center;
		color: black;
	font-size: 16px;

}

.form-group {
	margin-top: 3%;
}


#listcomments {
	color: black;
	font-size: 16px;
	margin-top: 1%;
}

#showresults {
	border-color:  #c83c07;
	border-width: 2px;
	background-color:#e8aa81;
	color: black;
}

.well {
	background-color: #e8aa81;
}


.directions {
	font-color: white;
	font-size: 18px;
	line-height: 19px;
}

.playerDsp {
	margin-bottom: 6px;

	font-size: 18px;
}
	
.modal {
	color: black;
}	